@import "../home/config";

$blue :#0EC2FB;
$purple_thin: #3d4461;
$pink: #ff8dc2;
$blue_thin: #55acee;
$hover_outsite_border: #eeeeee;
$old-orange: #FF5851;

.doctor{
    .header{
        height: auto;
    }
    main{
        margin-top: 20px;
        .search {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: $purple_thin;
            
            .sch-box {
                width: 75%;
                height: 100%;
                background: $purple_thin;
                padding: 0 1.5rem 0 1.5rem;
                border-radius: 0.4rem;
                display: flex;
                align-items: center;
                margin: 0 auto;
                gap: 15px;
                .box-top {
                    height: 100%;
                    width: 20%;
                    display: flex;
                    justify-content: start;
                    color: #fff;
                    font-size: 15px;

                    span {
                        font-weight: bold;
                    }
                    p {
                        margin-top: 15px;
                        margin-left: 10px;
                    }
                    @media screen and (max-width: 992px) {
                        display: none;
                    }
                }
                .box-bottom {
                    height: 100%;
                    width: 80%;
                    display: flex;
                    flex-direction: row;
                    align-items: end;
                    padding: 1.3rem 0;
                    // overflow: hidden;

                    .search-input {
                        width: 49%;
                        margin: 0 10px;
                        // border: 1px solid black;
                        @media screen and (max-width: 992px) {
                            margin: 0;
                        }
                    }
                    .btn-border {
                        border: 1.2px solid $blue_thin;
                    }

                    @media screen and (max-width: 992px) {
                        flex-direction: column;
                        .search-input,
                        .btn-border {
                            width: 100%;
                            margin-bottom: 10px;
                            margin-left: -10px;
                        }
                        .search-input:nth-child(2) {
                            display: block;
                        }
                    }
                }
                @media screen and (max-width: 1256px) {
                    flex-direction: column;
                    padding: 1.5rem;
                    .box-top,
                    .box-bottom {
                        width: 100%;
                    }
                }
            }
        }

        .doctor-con{
            width: 75%;
            height: auto;
            margin: 0 auto;
            @media screen and (max-width:728px){
                width: 100%;
            }
            .head-navigate{
                margin-top: 10px;
                ul{
                    display: flex;
                    a{
                        padding: 0;
                    }
                }
            }
            .con-profile{
                border: 1px solid rgba(0, 0, 0, 0.161);
                padding: 1rem 1.5rem;
                height: max-content;
                border-radius: 0.6rem;
                display: flex;
                box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
                gap: 18px;
                margin-bottom: 2rem;                
                .profile-img{
                    width: 25%;
                    height:320px;
                    min-height: 310px;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 0.4rem;
                    } 
                    .icon{
                        position: absolute;
                        top: 0;
                        left: 0%;
                        width: 30px;
                        background-color: $old-orange;
                        color: #000;
                        text-align: center;
                    }
                }
                .profile-detail{
                    width: 70%;
                    height: max-content;
                    font-size: 18px;
                    .department{
                        color: $blue;
                        

                    }
                    .title{
                        font-size: 40px;
                        font-weight: bold;
                    }
                    .position,.email .a,.tel,.exp{
                        color: #00000098;   
                        
                    }.des{
                        margin-top: 1.5rem;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; /* Limit to 3 lines */
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    .btn{
                        width: max-content;
                        padding: 0;
                        .button{
                            padding: 0.8rem 1.5rem;
                            margin-inline:0.5rem;
                            border-radius: 0.4rem;
                            @include button_clr_white;
                            &:hover{
                                background: $blue;
                                color: #fff;
                            }
                        }
                    }
                }


                @media screen and (max-width:728px){
                    flex-direction: column;
                    align-items: center;
                    width: 90%;
                    margin: 0 auto;
                    .profile-img,.profile-detail{
                        width: 100%;
                        font-size: 15px;
                        .btn{
                            width: 100%;
                            margin: 0 auto;
                            display: inline-block;
                            .button{
                                margin: 0.2rem ;
                                width:100%;
                            }
                        }
                    }
                }
            }

        }
    }
    .concluding{
        width: 100%;
        height: auto;
        overflow: hidden;
        background:#3D4461;
        color: #fff;
    }
}