@import "../home/config";

$pink: #ff8dc2;
$blue_thin: #55acee;
$purple_thin: #3d4461;
$hover_outsite_border: #eeeeee;

.detail{
    .header{
        height: auto;
    }
    main{
        .search {
            width: 100%;
            height: 100%;
            // overflow: hidden;
            background-color: $purple_thin;
            
            .sch-box {
                width: 75%;
                height: 100%;
                background: $purple_thin;
                padding: 0 1.5rem 0 1.5rem;
                border-radius: 0.4rem;
                display: flex;
                align-items: center;
                margin: 0 auto;
                gap: 15px;
                .box-top {
                    height: 100%;
                    width: 20%;
                    display: flex;
                    justify-content: start;
                    color: #fff;
                    font-size: 15px;

                    span {
                        font-weight: bold;
                    }
                    p {
                        margin-top: 15px;
                        margin-left: 10px;
                    }
                    @media screen and (max-width: 992px) {
                        display: none;
                    }
                }
                .box-bottom {
                    height: 100%;
                    width: 80%;
                    display: flex;
                    flex-direction: row;
                    align-items: end;
                    padding: 1.3rem 0;

                    .search-input {
                        width: 49%;
                        margin: 0 10px;
                        position: relative;
                        // border: 1px solid black;
                        @media screen and (max-width: 992px) {
                            margin: 0;
                        }
                        .dropdown_search{
                            position: absolute;
                            border: 1px solid rgba(0, 0, 0, 0.257);
                            width: 300px;
                            height: 150px;
                            bottom: -100%;
                            transform: translateY(60%);
                            left: 0;    
                            z-index: 10;
                            @media screen  and (max-width:728px){
                                width: 275px;
                            }
                        }
                    }
                    .btn-border {
                        border: 1.2px solid $blue_thin;
                    }

                    @media screen and (max-width: 992px) {
                        flex-direction: column;
                        .search-input,
                        .btn-border {
                            width: 100%;
                            margin-bottom: 10px;
                            margin-left: -10px;
                        }
                        .search-input:nth-child(2) {
                            display: block;
                        }
                    }
                }
                @media screen and (max-width: 1256px) {
                    flex-direction: column;
                    padding: 1.5rem;
                    .box-top,
                    .box-bottom {
                        width: 100%;
                    }
                }
            }
        }
        .detail-con{
            width: 75%;
            height: auto;
            margin: 0 auto;
            @media screen and (max-width:728px){
                width: 100%;
            }
            .head-navigate{
                margin-top: 10px;
                ul{
                    display: flex;
                    a{
                        padding: 0;
                    }
                }
            }
            .illness_info{
                padding-left: 2rem;
                margin-top: 43px;
                width: 80%;
                .title{
                    font-size: 50px;
                    font-weight: bold;
                }
                small{
                    color: $blue_thin;
                }
                .view{
                    color: #3d4461b7;
                    margin-bottom: 30px;
                    span{
                       margin-right: 20px;
                        padding: 0;
                    }
                }
                .static_illness{
                    font-size: 20px;
                }
                .des{
                    height: auto;
                    .des-con{
                        display: flex;
                        gap: 2rem;
                       
                        .left{
                            width: 65%;
                            // padding: 30px 0;
                            .name{
                                background-color: #3d4461;
                                color: #fff;
                                width: max-content;
                                padding: 15px 20px;
                                margin: 25px 0 25px 30%;                             
                            }
                            .line{
                                font-size: 20px;
                                line-height: 15px;
                                padding: 0 25px;
                                @media screen  and (max-width:992px){
                                    // text-align: center;
                                    line-height: 25px;
                                }
                            }
                        }
                        .right{
                            width:auto;
                            height: auto;
                            img{
                               width: 300px;
                               height: 300px;
                               border-radius: 50%;
                               border: 5px outset  #FF5851;
                               
                            }
                            @media screen and (max-width:992px){
                                text-align: center;
                           }
                        }
                        @media screen  and (max-width:992px){
                            flex-direction: column;
                            .left,.right{
                                width: 100%;
                            }
                        }
                        
                    }
                    
                }
                @media screen and (max-width:728px) {
                    width: 90%;
                }
                
            }
        }
        .map{
            margin-top: 35px;
        }
    }
    .concluding{
        width: 100%;
        height: auto;
        overflow: hidden;
        background:#3D4461;
        color: #fff;
    }
}