a {
  text-decoration: none;
  color: #3D4461;
}

img {
  object-fit: cover;
}

.homepage .header {
  height: auto;
}
.homepage main {
  width: 100%;
  padding: 1.2rem 0;
  height: auto;
  overflow: hidden;
}
.homepage main .slider {
  margin-bottom: 20px;
}
.homepage main .filter {
  height: max-content;
  width: 70%;
  margin: 0 auto;
}
.homepage main .intro-doctor {
  width: 100%;
  height: auto;
}
.homepage main .rating {
  margin-top: 57px;
  width: 100%;
  height: 470px;
}
.homepage main .problem_pt {
  margin-top: 15vh;
  height: auto;
  width: 100%;
}
@media screen and (max-width: 1456px) {
  .homepage main .problem_pt {
    margin-top: 30vh;
  }
}
@media screen and (max-width: 1256px) {
  .homepage main .problem_pt {
    margin-top: 100vh;
  }
}
@media screen and (max-width: 992px) {
  .homepage main .problem_pt {
    margin-top: 100vh;
  }
}
@media screen and (max-width: 768px) {
  .homepage main .problem_pt {
    margin-top: 90vh;
  }
}
.homepage .concluding {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #3D4461;
  color: #fff;
}