@import url("https://fonts.googleapis.com/css2?family=Hanuman:wght@400;700;900&family=Mooli&family=Noto+Serif+Khmer:wght@100;500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&family=Satisfy&display=swap");
a {
  text-decoration: none;
  color: #3D4461;
}

img {
  object-fit: cover;
}

.homepage .header {
  height: auto;
  overflow: visible;
}
.homepage main {
  width: 100%;
  padding: 1.2rem 0;
  height: auto;
  overflow: hidden;
}
.homepage main .slider {
  margin-bottom: 20px;
}
.homepage main .filter {
  position: absolute;
  height: 10vh;
  width: 70%;
  margin: 0 auto;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 728px) {
  .homepage main .filter {
    width: 90%;
  }
}
.homepage main .intro-doctor {
  width: 100%;
  height: auto;
  z-index: 0;
  margin-top: 18vh;
}
@media screen and (max-width: 728px) {
  .homepage main .intro-doctor {
    margin-top: 20vh;
  }
}
.homepage main .rating {
  margin-top: 57px;
  width: 100%;
  height: auto;
}
.homepage main .problem_pt {
  margin-top: 15vh;
  height: auto;
  width: 100%;
}
@media screen and (max-width: 1456px) {
  .homepage main .problem_pt {
    margin-top: 30vh;
  }
}
@media screen and (max-width: 1256px) {
  .homepage main .problem_pt {
    margin-top: 15vh;
  }
}
@media screen and (max-width: 992px) {
  .homepage main .problem_pt {
    margin-top: 10vh;
  }
}
@media screen and (max-width: 768px) {
  .homepage main .problem_pt {
    margin-top: 5vh;
  }
}
.homepage .concluding {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #3D4461;
  color: #fff;
}