.cate {
  background: #DAF6FE;
  margin-top: 45px;
  height: auto;
  width: 100%;
}
.cate .cen-cate {
  width: 70%;
  margin: 0 auto;
  padding: 25px 0;
  display: flex;
  gap: 20px;
  z-index: 1;
}
.cate .cen-cate .cate-detail {
  width: 25%;
  font-size: 1.1rem;
}
.cate .cen-cate .cate-detail .title {
  font-weight: bold;
  margin-bottom: 25px;
}
.cate .cen-cate .cate-detail .points-cate {
  line-height: 20px;
}
.cate .cen-cate .cate-detail .view-more {
  font-weight: bold;
  color: #FF5851;
}
.cate .cen-cate .cate-detail .view-more:hover {
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .cate .cen-cate {
    flex-direction: column;
    width: 90%;
  }
  .cate .cen-cate .cate-detail {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .cate .cen-cate {
    flex-direction: column;
    width: 90%;
  }
  .cate .cen-cate .cate-detail {
    width: 100%;
  }
}

.ab-cate {
  margin-top: -30px;
  padding: 1rem;
  width: 100%;
}
.ab-cate .ab-support {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  height: max-content;
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.147);
  padding: 1rem 2rem;
  background: #fff;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 2rem 2rem;
}
.ab-cate .ab-support .support-left {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 20px;
}
.ab-cate .ab-support .support-left .emergency {
  margin: 0;
  padding: 0 1rem;
  border-left: 1px solid rgba(0, 0, 0, 0.372);
}
.ab-cate .ab-support .support-left .emergency span {
  color: #FF5851;
  font-weight: 700;
}
.ab-cate .ab-support .support-left:nth-child(2) .emergency {
  border-right: 1px solid rgba(0, 0, 0, 0.372);
  border-left: none;
}
@media screen and (max-width: 768px) {
  .ab-cate .ab-support .support-left:nth-child(2) .emergency {
    border: none;
  }
}
@media screen and (max-width: 1256px) {
  .ab-cate .ab-support {
    width: 70%;
    height: auto;
  }
  .ab-cate .ab-support .support-left {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .ab-cate .ab-support {
    width: 100%;
    height: auto;
  }
  .ab-cate .ab-support .support-left {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .ab-cate .ab-support {
    width: 100%;
    height: auto;
  }
  .ab-cate .ab-support .support-left {
    width: 100%;
  }
  .ab-cate .ab-support .support-left img {
    display: none;
  }
  .ab-cate .ab-support .support-left .emergency {
    width: 100%;
    border: none;
  }
}