a {
  text-decoration: none;
  color: #3D4461;
}

img {
  object-fit: cover;
}

.single_illness {
  width: 100%;
}
.single_illness main .illness_con {
  width: 75%;
  height: auto;
  margin: 0 auto;
}
@media screen and (max-width: 728px) {
  .single_illness main .illness_con {
    width: 100%;
  }
}
.single_illness main .illness_con .head-navigate {
  margin-top: 10px;
}
.single_illness main .illness_con .head-navigate ul {
  display: flex;
}
.single_illness main .illness_con .head-navigate ul a {
  padding: 0;
}
.single_illness main .illness_con .illness_info {
  padding-left: 2rem;
  margin-top: 43px;
  width: 80%;
}
.single_illness main .illness_con .illness_info .title {
  font-size: 50px;
  font-weight: bold;
}
.single_illness main .illness_con .illness_info small {
  color: #55acee;
}
.single_illness main .illness_con .illness_info .view {
  color: rgba(61, 68, 97, 0.7176470588);
  margin-bottom: 30px;
}
.single_illness main .illness_con .illness_info .view span {
  margin-right: 20px;
  padding: 0;
}
.single_illness main .illness_con .illness_info .static_illness {
  font-size: 20px;
}
.single_illness main .illness_con .illness_info .des {
  height: auto;
}
.single_illness main .illness_con .illness_info .des .des-con {
  display: flex;
  gap: 2rem;
}
.single_illness main .illness_con .illness_info .des .des-con .left {
  width: 65%;
}
.single_illness main .illness_con .illness_info .des .des-con .left .line {
  font-size: 20px;
  margin-bottom: 20px;
}
.single_illness main .illness_con .illness_info .des .des-con .left .line::first-letter {
  padding-left: 20px;
}
.single_illness main .illness_con .illness_info .des .des-con .right {
  width: 35%;
  height: auto;
}
.single_illness main .illness_con .illness_info .des .des-con .right img {
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 992px) {
  .single_illness main .illness_con .illness_info .des .des-con {
    flex-direction: column;
  }
  .single_illness main .illness_con .illness_info .des .des-con .left, .single_illness main .illness_con .illness_info .des .des-con .right {
    width: 100%;
  }
}
@media screen and (max-width: 728px) {
  .single_illness main .illness_con .illness_info {
    width: 90%;
  }
}
.single_illness main .illness_con .relate_hos {
  padding-left: 2rem;
  font-size: 30px;
  width: 80%;
  font-weight: 500;
}
@media screen and (max-width: 728px) {
  .single_illness main .illness_con .relate_hos {
    width: 90%;
  }
}
.single_illness main .illness_con .relate_hos .title {
  overflow: hidden;
  font-weight: bold;
}
@media screen and (max-width: 728px) {
  .single_illness main .illness_con .relate_hos .title {
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Show 2 lines */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
}
.single_illness main .illness_con .relate_hos .con_hos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.single_illness main .illness_con .relate_hos .con_hos .box {
  width: 30%;
  height: 550px;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in !important;
  border: 3px outset rgba(61, 68, 97, 0.137254902);
}
.single_illness main .illness_con .relate_hos .con_hos .box:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.single_illness main .illness_con .relate_hos .con_hos .box:hover img {
  filter: brightness(70%);
}
.single_illness main .illness_con .relate_hos .con_hos .box .pic {
  height: 260px;
  width: 100%;
}
.single_illness main .illness_con .relate_hos .con_hos .box .pic img {
  width: 100%;
  height: 100%;
  transition: 0.4s ease-in;
}
.single_illness main .illness_con .relate_hos .con_hos .box .detail {
  padding: 1rem 1.4rem;
  font-size: 18px;
  line-height: 17px;
  overflow: hidden;
}
.single_illness main .illness_con .relate_hos .con_hos .box .detail .title {
  font-size: 25px;
  padding: 15px 0;
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Show 2 lines */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.single_illness main .illness_con .relate_hos .con_hos .box .detail p {
  color: rgba(61, 68, 97, 0.9333333333);
}
.single_illness main .illness_con .relate_hos .con_hos .box .detail p span {
  color: #55acee;
}
.single_illness main .illness_con .relate_hos .con_hos .box .detail p:last-child span a:hover {
  text-decoration: underline;
}
.single_illness main .illness_con .relate_hos .con_hos .box .detail .name {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
  overflow: hidden;
  height: 1.8rem;
}
@media screen and (max-width: 728px) {
  .single_illness main .illness_con .relate_hos .con_hos {
    flex-direction: column;
    width: 100%;
  }
  .single_illness main .illness_con .relate_hos .con_hos .box {
    width: 100%;
  }
}
.single_illness .concluding {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #3D4461;
  color: #fff;
}