@import 'config';

.homepage{

    .header{
        height: auto;
        overflow: visible;
    }
    main{
        width: 100%;
        padding: 1.2rem 0;
        height: auto;
        overflow: hidden;
        .slider{
            
            margin-bottom: 20px;
            
        }
        .filter{
            position: absolute;
            height:10vh;
            width: 70%;   
            margin: 0 auto;
            z-index: 1;   
            left: 50%;
            transform: translate(-50%,0);
            @media screen and (max-width:728px){
                width:90%;
            }
        }
       
        
        .intro-doctor{
            width: 100%;
            height: auto;
            z-index: 0;
            margin-top: 18vh;
            @media screen and (max-width:728px){
                margin-top: 20vh;
            }
        }
        .rating{
            margin-top: 57px;
            width: 100%;
            height: auto;
        }
        .problem_pt{
            margin-top: 15vh;
            height: auto;
            width: 100%;
            @media screen and (max-width:1456px) {
                margin-top: 30vh;
            }
            @media screen and (max-width:1256px) {
                margin-top: 15vh;
            }
            @media screen and (max-width:992px) {
                margin-top: 10vh;
            }
            @media screen and (max-width:768px) {
                margin-top: 5vh;
            }
        }
    }

    .concluding{
        width: 100%;
        height: auto;
        overflow: hidden;
        background:#3D4461;
        color: #fff;
    }
}
